@import 'settings';
@import 'mixins';

.block-screen {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5) url(../../resources/img/wait-white.svg) center center no-repeat;

  &__window {
    display: none;
  }

  &__overlay {
    display: none;
  }
}
