@import 'settings';
@import 'mixins';

.buttons-group {
  @include normalize-block();

  display: block;
  white-space: nowrap;

  &_adjust_button {
    &.button {
      & + & {
        margin-left: 20px;
      }
    }
  }
}
