@import 'settings';
@import 'mixins';

.button {
  $button-radius: 7px;

  display: inline-block;
  padding: 0 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  line-height: 46px;
  white-space: nowrap;
  color: $white;
  @include border-radius($button-radius);

  &_role {
    &_manager {
      $manager-btn-bcg-color: map-get($roles-palette, manager);

      background-color: $manager-btn-bcg-color;
      @include button-hover-behavior($manager-btn-bcg-color);
      text-decoration: none;
    }
  }
}
