@import 'settings';
@import 'mixins';

.button {
  $button-radius: 7px;

  @include normalize-block();

  display: inline-block;
  padding: 0 18px;
  font-size: 16px;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  line-height: 46px;
  white-space: nowrap;
  color: $white;
  cursor: pointer;
  border-radius: $button-radius;

  &_role {
    &_manager {
      $color: map-get($roles-palette, manager);

      background-color: $color;
      @include button-hover-behavior($color);
      text-decoration: none;
    }
    &_log-out {
      $color: map-get($roles-palette, log-out);

      background-color: $color;
      @include button-hover-behavior($color);
      text-decoration: none;
    }
    &_ok {
      $color: #4d8a35;

      background-color: $color;
      @include button-hover-behavior($color);
    }
    &_cancel {
      $color: #d74045;

      background-color: #d74045;
      @include button-hover-behavior($color);
    }
  }

  &_type {
    &_modal-big {
      display: inline-block;
      padding: 0;
      background-color: transparent;
      border: none;
      color: #259cee;
      text-transform: uppercase;
      font-size: 30px;
      font-weight: 400;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
