@import 'settings';
@import 'mixins';

.form-label {
  @include normalize-block();

  &_type {
    &_big {
      display: flex;
      width: 450px;
      height: 50px;
      border: 2px solid $very-light-gray;
      align-items: stretch;

      &:before {
        content: '';
        display: inline-block;
        width: 50px;
        border-right: 2px solid $very-light-gray;
        background: $extra-light-gray url(../../public/img/icons/lock-gray.svg) center center no-repeat;
        background-size: 20px auto;
      }

      &.form-label_role {
        &_password {
          &:before {
            background-image: url(../../public/img/icons/lock-gray.svg);
          }
        }
      }
    }
  }
}

.input {
  @include normalize-block();

  color: $medium-gray;

  &_type {
    &_big {
      font-size: 20px;
      padding: 0 7px;

      .form-label_type_big & {
        flex-grow: 1;
        border: none;
      }
    }
  }
}
