@import 'settings';

@mixin link-to-button($color) {
  color: $color;
  text-decoration: none;
  &:hover {
    color: $color;
  }
}

@mixin button-hover-behavior($background-color, $amount: 3%) {
  cursor: pointer;
  &:hover {
    background-color: lighten($background-color, $amount);
  }
}

