@import 'settings';
@import 'mixins';

.modal {
  $border-radius: 20px;

  @include normalize-block();

  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  border-radius: $border-radius+ 2 $border-radius+ 2 $border-radius $border-radius;
  outline: none;

  &_role {
    &_login-manager {
      min-width: 550px;
    }
    &_sessions-history {
      min-width: 550px;
      padding-bottom: 40px;
    }
    &_prompt {
      min-width: 450px;
      padding: 20px;
      background-color: #f3e3c1;
    }
  }

  &_adjust {
    &_form-label {
      margin-bottom: 50px;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 2;
  }

  &__button-close {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -22px;
    top: -22px;
    border-radius: 50%;
    background: $white url(../../public/img/icons/close-yellow.svg) center center no-repeat;
    background-size: 20px auto;
    box-shadow: 5px 5px 40px rgba(0, 0, 0, 0.3);
  }
  
  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
    margin: 0 0 30px;
    padding: 18px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #cca711;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    .modal_role_login-manager {
      background-color: #cca711;
    }
    .modal_role_sessions-history & {
      background-color: #c69836;
    }
  }

  &__header-caption {
    display: inline-block;
    margin: 0;
    padding-left: 30px;
    font-size: 22px;
    font-weight: 600;
    background: url(../../public/img/icons/table-default-white.svg) left center no-repeat;
    background-size: 20px auto;

    .modal_table_shuffle & {
      background-image: url(../../public/img/icons/table-shuffle-board-white.svg);
    }
    .modal_table_pool & {
      background-image: url(../../public/img/icons/table-pool-white.svg);
    }
    .modal_table_default & {
      background-image: url(../../public/img/icons/table-default-white.svg);
    }
    .modal_table_tennis & {
      background-image: url(../../public/img/icons/table-tennis-white.svg);
    }
  }

  &__header-sub-caption {
    margin: 0;
    font-size: 17px;
    font-weight: 400;
    text-transform: uppercase;
    line-height: 1;
  }

  &__description {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 50px;
    color: $medium-gray;

    .modal_role_prompt & {
      margin-bottom: 30px;
      color: $dark-gray;
    }
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  &__form-errors {
    position: relative;
    top: -42px;
  }
  &__form-error {
    color: map-get($app-palette, alert);
  }

  &__buttons-group {
    display: flex;
    justify-content: center;
    align-self: stretch;
    padding: 30px 20px;
    border-top: 2px solid $extra-light-gray;
  }
}
