@import 'settings';
@import 'mixins';

.modal {
  $border-radius: 20px;

  @include normalize-block();

  position: absolute;
  @include pos-center();
  min-width: 550px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  @include border-radius($border-radius);
  @include border-top-left-radius( $border-radius+ 2 );
  @include border-top-right-radius( $border-radius+ 2 );
  outline: none;

  &_role {
    &_login-manager {
      width: 100px;
    }
  }

  &_adjust {
    &_form-label {
      margin-bottom: 50px;
    }
  }

  &__overlay {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
  }

  &__button-close {
    position: absolute;
    width: 60px;
    height: 60px;
    right: -22px;
    top: -22px;
    @include border-radius(50%);
    background: $white url(../../public/img/icons/close-yellow.svg) center center no-repeat;
    -webkit-background-size: 20px auto;
    background-size: 20px auto;
    @include box-shadow(5px 5px 40px rgba(0, 0, 0, 0.3));
  }
  
  &__header {
    align-self: stretch;
    margin: 0 0 30px;
    padding: 18px 0;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    background-color: #cca711;
    font-size: 22px;
    font-weight: 600;
    @include border-top-left-radius( $border-radius );
    @include border-top-right-radius( $border-radius );
  }

  &__description {
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 50px;
    color: $medium-gray;
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: stretch;
  }

  &__buttons-group {
    display: flex;
    justify-content: center;
    align-self: stretch;
    padding: 30px 20px;
    border-top: 2px solid $extra-light-gray;
  }
}
