@import 'settings';
@import 'mixins';

.paginator {
  @include normalize-block();

  display: flex;
  justify-content: center;
  margin: 24px 0 0;
  padding: 0;

  &__button {
    display: inline-block;
    margin: 0 7px;
    list-style: none;
    color: $dark-gray;
    border: 2px solid $dark-gray;
    cursor: pointer;
    @include user-select();

    &:hover{
      background-color: $extra-light-gray;
    }

    &.paginator-active {
      background-color: $dark-gray;
      color: $white;
    }

    &.paginator-disabled {
      border-color: $very-light-gray;
      color: $very-light-gray;
      cursor: default;

      &:hover{
        background-color: $white;
      }
    }

    &_role {
      &_prev {
        padding-left: 14px;
        background: url(../../public/img/arrow-left-dark-gray.svg) 7px center no-repeat;
        @include background-size(auto 14px);

        &.paginator-disabled {
          background-image: url(../../public/img/arrow-left-light-gray.svg);
        }
      }
      &_next {
        padding-right: 14px;
        background: url(../../public/img/arrow-right-dark-gray.svg) calc(100% - 7px) center no-repeat;
        @include background-size(auto 14px);

        &.paginator-disabled {
          background-image: url(../../public/img/arrow-right-light-gray.svg);
        }
      }
      &_break {
        display: none;
      }
    }
  }

  &__button-link {
    display: inline-block;
    height: 32px;
    padding: 0 14px;
    text-decoration: none;
    font-size: 14px;
    line-height: 32px;
    text-transform: uppercase;

    &:focus {
      outline: 0;
    }
  }

}
