@import 'settings';
@import 'mixins';

$table-side-padding: 70px;
$table-columns-padding: $table-side-padding / 2;

.sessions-list {
  @include normalize-block();

  display: table;
  min-width: 550px;
  font-size: 13px;

  &__wait {
    width: 40px;
    height: 40px;
    background: url(../../resources/img/wait-dark.svg) center center no-repeat;
    background-size: auto 100%;
  }

  &__header {
    display: table-row;
    text-transform: uppercase;
    font-weight: 600;
  }

  &__tr {
    display: table-row;

    &:nth-child(even) {
      background-color: $extra-light-gray;
    }
  }

  &__th {
    display: table-cell;
    padding: 0 $table-columns-padding 12px;

    &_role {
      &_index {
        padding-left: $table-side-padding;
      }
      &_time {
      }
      &_duration {
        padding-right: $table-side-padding;
      }
    }
  }

  &__td {
    display: table-cell;
    padding: 13px $table-columns-padding;

    &_role {
      &_index {
        padding-left: $table-side-padding;
      }
      &_time {
        padding-left: $table-columns-padding + 22px;
        background: url(../../resources/img/icons/clock-black.svg) $table-columns-padding center no-repeat;
        background-size: auto 13px;
      }
      &_duration {
        padding-right: $table-side-padding;
        white-space: nowrap;
      }
    }
  }

  &__text {
    display: inline-block;
    vertical-align: middle;
  }

  &__edit-button {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 3px;
    margin-top: -3px;
    vertical-align: middle;
    background: url(../../resources/img/icons/pencil-dark-gray.svg) center center no-repeat;
    background-size: 13px auto;
    cursor: pointer;
  }
}
