@import 'settings';
@import 'mixins';

$tennis-table-border-width: 6px;
$default-table-border-width: 12px;
$shuffle-table-border-width: 22px;
$shuffle-table-border-radius: 50px;

.table {
  $table-width: 524px;
  $table-height: 320px;

  @include normalize-block();

  position: relative;
  display: inline-block;
  width: $table-width;
  height: $table-height;
  box-sizing: border-box;

  &_type {
    &_pool {
      background: #3e8fc4 url(../../public/img/pool-table-borders.svg) 0 0 no-repeat;
      background-size: auto 100%;
      border-radius: 22px;

      &.table_status_active {
        background: #d74045 url(../../public/img/pool-table-borders_active.svg) 0 0 no-repeat;
      }
    }

    &_tennis {
      background: #3fc360 url(../../public/img/tennis-line.svg) center center no-repeat;
      background-size: 100% 100%;
      border: $tennis-table-border-width solid $white;
      &:before {
        content: '';
        margin-left: -$tennis-table-border-width;
        margin-top: -$tennis-table-border-width;
        width: $table-width;
        height: $table-height;
        background: url(../../public/img/tennis-net.svg) center center no-repeat;
        background-size: 100% 100%;
        opacity: 0.2;
      }

      &.table_status_active {
        background-color: #c43e3f;
      }
    }

    &_shuffle {
      $inner-width: $table-width - ($shuffle-table-border-width * 2);

      background-color: #383435;
      border: $shuffle-table-border-width solid #c69836;
      border-radius: $shuffle-table-border-radius;
      box-shadow: inset 6px 5px 0 rgba(0, 0, 0, 0.3), 6px 5px 0 rgba(0, 0, 0, 0.3);

      &:before {
        $element-width: 435px;

        content: '';
        position: absolute;
        width: $element-width;
        height: 170px;
        left: ($inner-width / 2) - ($element-width / 2);
        top: 64px;
        box-sizing: border-box;
        background: #c69836 url(../../public/img/shuffle-board-background-field.svg) center center no-repeat;
        background-size: 100% auto;
        border: 7px solid $white;
        box-shadow: 6px 5px 0 rgba(0, 0, 0, 0.3);
      }

      &.table_status_active {
        border-color: #951418;

        &:before {
          background-color: #951418;
        }
      }
    }

    &_default {
      background-color: #8f8f8f;
      border: $default-table-border-width solid $white;

      &.table_status_active {
        background-color: #c43e3f;
        border-color: #951418;
      }
    }
  }

  &_status {
    &_active {
    }
    &_disabled {
    }
  }

  &__session-info {
    position: absolute;
    top: 205px;
    left: 0;
    right: 0;
    display: flex;
    padding: 0 70px;
    justify-content: space-between;
    align-items: center;
    line-height: 40px;
    background-color: rgba(0,0,0,0.2);
    color: $white;
    font-size: 14px;
    font-weight: 500;

    .table_type_pool & {
      padding: 0 43px;
      left: 27px;
      right: 27px;
      background-color: #367096;
    }
    .table_type_pool.table_status_active & {
      background-color: #a13c42;
    }

    .table_type_shuffle & {
      top: 183px;
      padding: 0 17px;
      left: 30px;
      right: 30px;
    }
  }

  &__session-name {
    display: inline-block;
  }

  &__session-finish-time {
    display: inline-block;
    padding-left: 20px;
    background: url(../../public/img/icons/clock-white.svg) 0 center no-repeat;
    background-size: 13px auto;
  }

  &__session-edit {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: -60px;
    background: url(../../public/img/icons/pencil-white.svg) center center no-repeat;
    background-size: 13px auto;
    cursor: pointer;
  }

  &__session-length {
    display: inline-block;
    cursor: pointer;
    user-select: none;

    &_admin-edited {
      &:after {
        content: '*';
        display: inline;
        padding-left: 1px;
      }
    }
  }

  &__btn-view-sessions {
    position: absolute;
    top: 253px;
    left: 70px;
    color: #ffff00;
    font-size: 11px;

    &:hover {
      color: $white;
      &:after {
        background-image: url(../../public/img/icons/arrow-simple-white.svg);
      }
    }

    &:after {
      content: '';
      display: inline-block;
      width: 8px;
      height: 7px;
      margin-left: 3px;
      background: url(../../public/img/icons/arrow-simple-yellow.svg) 0 center no-repeat;
      background-size: auto 100%;
    }

    .table_type_shuffle & {
      top: 246px;
      left: 48px;
    }
  }

  &__button {
    outline: 0;

    &_role {
      &_change-availability {
        position: absolute;
        left: 54px;
        top: 103px;
        width: 78px;
        height: 78px;
        box-sizing: border-box;
        border: 6px solid $white;
        background: no-repeat center center;
        border-radius: 50%;

        .table_type_pool & {
          left: 60px;
          top: 108px;
        }

        .table_type_shuffle & {
          left: 38px;
          top: 85px;
        }

        .table_status_ready &, .table_status_disabled & {
          $bg-color: #69df3b;
          background-color: $bg-color;
          background-image: url(../../public/img/icons/timer-white.svg);
          background-size: auto 45px;
          @include button-hover-behavior($bg-color, 7);
        }
        .table_status_active & {
          $bg-color: #c12c30;
          background-color: $bg-color;
          background-image: url(../../public/img/icons/stop-white.svg);
          background-size: 22px 22px;
          @include button-hover-behavior($bg-color, 7);
        }
        .table_state_in-pending & {
          background-image: url(../../public/img/wait-white.svg);
          background-size: 40px 40px;
          cursor: default;
        }
      }
    }
  }

  &__label {
    color: $white;
    
    &_role {
      &_start-time {
        position: absolute;
        left: 155px;
        top: 105px;
        padding-left: 20px;
        font-size: 14px;
        font-weight: 500;
        background: url(../../public/img/icons/clock-white.svg) 0 center no-repeat;
        background-size: 13px auto;

        .table_type_shuffle & {
          top: 89px;
          left: 138px;
        }
      }
      &_disabled {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 0;
        width: $table-width;
        height: $table-height;
        padding-top: 195px;
        box-sizing: border-box;
        text-align: center;
        color: $white;
        font-size: 14px;
        text-transform: uppercase;
        font-weight: 600;
        border: 11px solid $white;
        background-color: rgba(20, 20, 20, 0.9);
        border-radius: 20px;

        &:after {
          content: '';
          display: block;
          position: absolute;
          top: 88px;
          left: 50%;
          transform: translateX(-50%);
          width: 90px;
          height: 90px;
          background: url(../../public/img/icons/lock-white.svg) center center no-repeat;
          background-size: auto 100%;
        }

        .table_type_tennis & {
          top: -$tennis-table-border-width;
          left: -$tennis-table-border-width;
          border-radius: 0;
        }

        .table_type_default & {
          top: -$default-table-border-width;
          left: -$default-table-border-width;
          border-radius: 0;
        }

        .table_type_shuffle & {
          top: -$shuffle-table-border-width;
          left: -$shuffle-table-border-width;
          border-radius: $shuffle-table-border-radius;
        }
      }
      &_table-type {
        position: absolute;
        top: 45px;
        left: 50%;
        transform: translateX(-50%);
        padding: 0 12px 0 32px;
        line-height: 35px;
        white-space: normal;
        color: #ffff00;
        font-size: 13px;
        text-transform: uppercase;
        font-weight: 600;
        border-radius: $global-border-radius;
        background-color: rgba(0, 0, 0, 0.7);
        background-blend-mode: multiply;

        &:after {
          content: '';
          display: block;
          position: absolute;
          width: 16px;
          height: 16px;
          left: 10px;
          top: 50%;
          transform: translateY(-50%);
          z-index: 1;
          background: 0 center no-repeat;
          background-size: auto 100%;
        }

        .table_type_pool & {
          top: 50px;
          &:after {
            background-image: url(../../public/img/icons/table-pool-yellow.svg);
          }
        }

        .table_type_tennis & {
          &:after {
            background-image: url(../../public/img/icons/table-tennis-yellow.svg);
          }
        }

        .table_type_shuffle & {
          top: 18px;
          &:after {
            width: 14px;
            height: 14px;
            background-image: url(../../public/img/icons/table-shuffle-board-yellow.svg);
          }
        }

        .table_type_default & {
          top: 40px;
          &:after {
            top: 47%;
            left: 12px;
            background: url(../../public/img/icons/table-default-yellow.svg) 0 center no-repeat;
          }
        }
      }
      &_availability, &_counter {
        position: absolute;
        left: 151px;
        top: 117px;
        white-space: normal;
        color: $white;
        font-size: 33px;
        font-weight: 600;
        user-select: none;

        .table_type_pool & {
          left: 155px;
          top: 124px;
        }

        .table_type_shuffle & {
          left: 135px;
          top: 100px;
        }
      }
      &_counter {
        cursor: pointer;
      }
    }
  }

}
